
// HOME

.bom-dia{
    width: 345px;
    height: 229px;
    img{
        width: 100%;
        height: auto;
    }
}
.hora-da-papa{
    margin: 0 auto;
    width: 285px;
    height: 285px;
    img{
        width: 100%;
        height: auto;
    }
}
