
// HOME

.bom-dia{
    width: 345px;
    height: 229px;
    img{
        width: 100%;
        height: auto;
    }
}
.hora-da-papa{
    margin: 0 auto;
    width: 285px;
    height: 285px;
    img{
        width: 100%;
        height: auto;
    }
}

// pagina sobre a autora

.titulo{
    background-color: #EE2461;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    p{
        color: white;
    }
}
