@media only screen and (min-width: 538px) {

    header {
        display: none;
    }
    footer {
        display: none;
    }

}
@media only screen and (max-width: 426px){
    .your-class {
        img {
            padding: 10px;
            width: 100%;
            height: 67vh;
        }
    }
    .your-class1 {
        margin-top: 50px;
        img {
            width: 100%;
            height: 40vh;
        }
    }
}
@media only screen and (max-width: 425px) {
    //loja
    .bom-dia-single {
        width: 235px;
        height: auto;
    }
    //bebe
    .bebe {
        margin-top: 40px;
    }
    //jogos
    .games {
        .qual-cor {
            margin-top: 20px;
        }
        .qual-babete {
            margin-top: 20px;
        }
    }

    //sobre a autora
    .texto {
        margin-top: 100px;
    }
}
@media only screen and (max-width: 411px) {
    //bebes
    .bebe {
        margin-bottom: 100px;
        .aulas {
            margin-top: 60px;
        }
    }
    //jogos
    .qual-cor {
        margin-top: 0;
        margin-bottom: 0;
    }
    .qual-babete {
        margin-top: 0;
    }
    //sobre autora
    .texto {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 375px) {
    .gap-example,
    .gap1-example,
    .gap2-example,
    .gap3-example,
    .gap4-example {
        width: 100%;
    }
    //LOJA
    .hora-papa-single {
        margin-top: 10px;
        img {
            width: 320px;
            height: auto;
        }
    }
    .bom-dia-single {
        width: 230px;
        height: auto;
    }
}
@media only screen and (max-width: 360px) {
    .bebe {
        margin-bottom: 100px;
        .aulas {
            margin-top: 30px;
        }
    }

    .gap-example,
    .gap1-example,
    .gap2-example,
    .gap3-example,
    .gap4-example {
        width: 100%;
    }
    .qual-cor {
        margin-top: 0;
        margin-bottom: 0;
    }
    .qual-babete {
        margin-top: 0;
    }

    .icones {
        height: 200px;
    }
}
@media only screen and (max-width: 320px) {
    //home
    .bom-dia {
        width: 300px;
        height: auto;
    }
    .hora-da-papa {
        width: 245px;
        height: auto;
        bottom: 57px;
    }
    //loja
    .loja {
        .bom-dia-1 {
            img {
                width: 250px;
                height: auto;
            }
        }
        .hora-papa {
            img {
                width: 200px;
                height: auto;
            }
        }
    }
    .hora-papa-single {
        img {
            width: 300px;
        }
    }
    .precos {
        margin-bottom: 150px;
    }
    //bebes

    .aulas {
        .aulas1 {
            height: 95px;
            img {
                height: 95px;
            }
        }
        p {
            font-size: 18px;
        }
    }
    .titulo {
        p {
            font-size: 18px;
        }
    }

    //Jogos
    .qual-cor {
        margin-top: 40px;
    }
    .qual-babete {
        margin-top: 40px;
    }
    //sobre a autora

    .foto-lia {
        height: 375px;
    }
}
