@media only screen and (max-width: 411px) {
    //bebes
    .bebe {
        margin-bottom: 100px;
        .aulas {
            margin-top: 60px;
        }
    }
    //jogos
    .qual-cor {
        margin-top: 0;
        margin-bottom: 0;
    }
    .qual-babete {
        margin-top: 0;
    }
    //sobre autora
    .texto {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 360px) {
    .bebe {
        margin-bottom: 100px;
        .aulas {
            margin-top: 30px;
        }
    }

    .gap-example,
    .gap1-example,
    .gap2-example,
    .gap3-example,
    .gap4-example {
        width: 100%;
    }
    .qual-cor {
        margin-top: 0;
        margin-bottom: 0;
    }
    .qual-babete {
        margin-top: 0;
    }

    .icones {
        height: 200px;
    }
}
@media only screen and (max-width: 320px) {
.bom-dia{
    width: 300px;
}
}
